.scrollTop {
  box-shadow: 2px 2px 2px #dab171, -5px -0px 4px #dab171 inset;
}
.scrollBottom {
  box-shadow: 2px 2px 2px #dab171, -5px -0px 4px #dab171 inset;
}

.scrollTop,
.scrollBottom {
  height: 10rem;
  width: 82%;
  background-color: #ebd5b3;
  z-index: 1000;
  border: 2px solid #dab171;
  border-radius: 2rem;
}

@media (max-width: 1366px) {
  .scrollTop,
  .scrollBottom {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  .scrollTop,
  .scrollBottom {
    width: 100%;
  }
}
