.scrollCenter {
  padding: 3rem;
  background-color: #ebd5b3;
  width: 80%;
  min-height: 50vh;
  max-height: max-content;
  border-radius: 3px;
}

.errorMessage {
  font-size: 5rem;
  color: red;
  text-align: center;
}

@media (max-width: 1366px) {
  .scrollCenter {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .scrollCenter {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .scrollCenter {
    padding: 1rem;
  }
}
