.itemContainer {
  border: 2px solid grey;
  color: var(--font-color);
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template: repeat(2, 50%) / repeat(4, max-content);
}

.name,
.form,
.submitBtn {
  grid-row: 1 / span 2;
}

.name {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 15rem;
}

.buy,
.sell {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.buy h3,
.sell h3 {
  margin-right: 0.5rem;
  color: #008080;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.buy {
  grid-row: 1;
}
.sell {
  grid-row: 2;
}

.priceList {
  list-style: none;
  margin-top: 0.5rem;
  width: 20rem;
}

.priceLabel {
  display: inline;
  margin-right: 1rem;
  font-size: 2rem;
}

.priceProp {
  color: #008080;
  font-weight: 700;
}

.buyForm,
.sellForm {
  grid-column: 3;
  margin-left: 5rem;
}

.buyForm {
  grid-row: 1;
}

.sellForm {
  grid-row: 2;
}

.form {
  margin: 0.5rem 0 0 3rem;
}

.submitBtn {
  padding: 2rem;
  border-radius: 2rem;
  outline: none;
  border: 3px solid var(--font-color);
  margin: 1rem 0 1rem 3rem;
  width: 15rem;
  box-shadow: 2px 2px 2px black;
}

.submitBtn:active {
  box-shadow: none;
}

.alert {
  background-color: lightgray;
  font-size: 2rem;
  margin-left: 2rem;
  padding: 2rem;
  border: 3px solid grey;
  border-radius: 2rem;
  color: var(--font-color);
  font-weight: 700;
}

.error,
.success,
.initial {
  transition: 0.5s;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

.initial {
  background-color: #008080;
}

@media (max-width: 1024px) {
  .form {
    margin: 0.5rem 0 0 1rem;
  }
}

@media (max-width: 768px) {
  .form input {
    width: 8rem;
  }
}

@media (max-width: 414px) {
  .itemContainer {
    grid-template: repeat(6, max-content) / repeat(1, 100%);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .name,
  .buy,
  .buyForm,
  .sell,
  .sellForm,
  .submitBtn {
    grid-column: 1;
    margin: 0.5rem;
  }

  .name {
    grid-row: 1;
    text-align: center;
  }
  .buy {
    grid-row: 2;
  }

  .buyForm {
    grid-row: 3;
  }
  .sell {
    grid-row: 4;
  }
  .sellForm {
    grid-row: 5;
  }
  .submitBtn {
    grid-row: 6;
  }
}

@media (max-width: 375px) {
  .itemContainer {
    text-align: center;
  }
}
