.itemContainer {
  border: 2px solid grey;
  display: flex;
  color: var(--font-color);
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
}

.name {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 16%;
}

.priceList {
  list-style: none;
  margin-top: 0.5rem;
}

.priceLabel {
  display: inline;
  margin-right: 1rem;
  font-size: 2rem;
}

.priceProp {
  color: #008080;
  font-weight: 800;
}

.form {
  margin: 0.5rem 0 0 3rem;
}

.submitBtn {
  padding: 2rem;
  border-radius: 2rem;
  outline: none;
  border: 3px solid var(--font-color);
  margin-left: 1rem;
}

.alert {
  background-color: #008080;
  font-size: 2rem;
  margin-left: 2rem;
  padding: 2rem;
  border: 2px solid #008080;
  border-radius: 2rem;
  background-color: grey;
}
