.main {
  min-height: 100vh;
  background: repeating-linear-gradient(
    to right,
    #55342b,
    #55342b 500px,
    #442a22 500px,
    #442a22 505px
  );
  padding: 5rem;
}

.scrollContainer {
  display: flex;
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .main {
    padding: 2rem;
  }
}
